@import "./variables";

html {
  position: relative;
  min-height: 100%;
}
body {
  width: 100%;
  margin-bottom:$footer-height;
  background: $purple;
}

footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  height:$footer-height;
  width: 100%;
  background: $grey;

  p{
    margin: 0;
  }
}